<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTDMapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Vo.TestMapper">
    <select id="List" resultType="Vo.Test">
        SELECT * FROM test
    </select>
    <select id="Listbyid" parameterType="java.lang.Integer" resultType="Vo.Test">
        SELECT * FROM test WHERE stuid=#{id}
    </select>
    <insert id="addtest" parameterType="Vo.Test">
        INSERT into test (mathscore,chinscore,engscore,stuname,stuid,stuclass)VALUES (#{mathscore},#{chinscore},#{engscore},#{stuname},#{stuid},#{stuclass})
    </insert>
    <update id="updatebyid" parameterType="Vo.Test">
        UPDATE test SET chinscore=#{chinscore},mathscore=#{mathscore},engscore=#{engscore} WHERE stuid=#{stuid}
    </update>
    <!--数据库字段名与对象属性名不同-->
    <resultMap id="chinscore" type="Vo.ShowTselect">
        <id column="stuid" property="sid"></id>
        <result column="stuname" property="sname"></result>
        <result column="stuclass" property="sclass"></result>
        <result column="chinscore" property="sscore"></result>
    </resultMap>
    <select id="selectchin" resultMap="chinscore">
        SELECT stuid,stuname,stuclass,chinscore FROM test
    </select>
    <resultMap id="mathscore" type="Vo.ShowTselect">
        <id column="stuid" property="sid"></id>
        <result column="stuname" property="sname"></result>
        <result column="stuclass" property="sclass"></result>
        <result column="mathscore" property="sscore"></result>
    </resultMap>
    <select id="selectmath" resultMap="mathscore">
        SELECT stuid,stuname,stuclass,mathscore FROM test
    </select>
    <resultMap id="engscore" type="Vo.ShowTselect">
        <id column="stuid" property="sid"></id>
        <result column="stuname" property="sname"></result>
        <result column="stuclass" property="sclass"></result>
        <result column="engscore" property="sscore"></result>
    </resultMap>
    <select id="selecteng" resultMap="engscore">
        SELECT stuid,stuname,stuclass,engscore FROM test
    </select>
    <delete id="delbyid" parameterType="java.lang.Integer">
        DELETE from test WHERE stuid=#{id}
    </delete>
</mapper>